
.image img {
    width: 30%;
    margin-left: 30em;
}

.content {
    margin-left: 32em;
}


.image h1 {
    text-align: center;
    background-color: bisque;
    height: 150px;
    padding-top: 40px;
}