<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-white ">
  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
      style="box-shadow: none; border:  none;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" >
      <img src="../assets/zebronics-logo_.avif" alt="">
    </a>

    <div class="show">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr"  routerLink="" routerLinkActive="active">Audio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr" routerLink="peripherals">Peripherals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr" routerLink="led-tv" routerLinkActive="active">LED TV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr" routerLink="accessories">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr" routerLink="smart-home">Smart Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr" routerLink="projectors">LED Projectors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr" routerLink="surviellence">Surveillance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr" routerLink="shop" routerLinkActive="active">Shop</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle nav-link-ltr" routerLink="support" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Support
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Contact Us</a></li>
            <li><a class="dropdown-item" href="#">Locate a service centre</a></li>
            <li><a class="dropdown-item" href="#">Register onsite support</a></li>
            <li><a class="dropdown-item" href="#">Register Warranty</a></li>
            <li><a class="dropdown-item" href="#">Driver Downloads</a></li>
            <li><a class="dropdown-item" href="#">Product FAQ'S</a></li>

          </ul>
        </li>
      </ul>

      <!-- class hide icon  -->
      <div class="hide ml-auto">
        <i class="fa-solid fa-magnifying-glass "></i>
        <i class="fa-solid fa-bag-shopping ml-5"></i>
        <i class="fa-regular fa-user ml-5"></i>
      </div>
    </div>
  </div>
</nav>




<router-outlet></router-outlet>


<div class="footer">

  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <h6>Company</h6>
        <a href="#">About Us </a>
        <a href="#"> Brand Stores </a>
        <a href="#"> Careers </a>
        <a href="#"> News Centre </a>
        <a href="#"> Security </a>
        <a href="#"> Blog </a>
        <a href="#"> CSR </a>




      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <h6>Product </h6>
        <a href="#">
          Audio </a>
        <a href="#"> Gaming</a>
        <a href="#"> Peripherals</a>
        <a href="#"> Smart Fitness Watch</a>
        <a href="#"> Personal Grooming</a>
        <a href="#"> Surveillance</a>


      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <h6>Support</h6>
        <a href="#">
          Contact Us </a>
        <a href="#"> Warranty Policy </a>
        <a href="#"> Onsite Support Registration </a>
        <a href="#"> Warranty Registration </a>
        <a href="#"> Privacy Policy </a>
        <a href="#"> Terms & Conditions </a>
        <a href="#"> E-waste Management </a>

      </div>

      <div class="col-lg-4 col-md-12 col-sm-6 col-6">
        <h6>Stay Connected
        </h6>
        <p>Subscribe to get latest product launches,<br> offers, exclusive news.</p>

        <div class="input-group mb-3 box">
          <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button type="button" class="btn btn-info">Submit</button>
          </div>
        </div>


        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>

    </div>

  </div>

   <!-- black bg last footer   -->

   <div class="last-footer">

    <div class="foot-mob">
      <img src="../assets/footer logo.webp" alt="">
      <span >© 2010 - 2021 Zebronics India Pvt. Ltd.® All Rights Reserved</span>
    </div>
  
  
  </div>
</div>