


.carousel-inner img {
    height: 600px;
  }

  .carousel .carousel-caption{
    
    margin-bottom: 10em;
    text-align: left;
  }
  .carousel .carousel-caption h1{
    font-size: 70px;
  }

  #carouselExampleDark  .carousel-caption .cont-four h1{
    color: aliceblue;
  }
  #carouselExampleDark  .carousel-caption .cont-four p{
    color: aliceblue;
  }
  
  .carousel-inner button{
    padding: 10px 30px;
  }

  .cont-second h1 {
    color: #fff;
  }

  .cont-third h1{
    color: #fff;
  }

  // centre category
  .head h4{
    text-align: center ;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .gallary .card  {
    width: 200px;
  }
 .gallary {
  justify-content: center;
 }
 .gallary .card img{
  height: 120px;
  
 }

  
 .gallary-1{
  justify-content: center;
 }

 .gallary-1 .card img{
  height: 120px;
  
 }
 .gallary-1 .card{
 margin-top: 20px;
  
 }
 .card-title{
  text-align: center;
  padding-top: 30px;
 }

 .gallary .card .card-img-overlay:hover{
  background-color:#00aeef;
 }

 .gallary-1 .card .card-img-overlay:hover{
  background-color:#00aeef;
 }
 .headline h4{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
 }

 .headline img {
  width: 360px;
 }


 .head-1 h4{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
 }




//  overlay effect  css

.overlay {
  position: absolute; 
  bottom: 20px;
  left: 30px; 
  background-color: rgba(245, 235, 18, 0.9);
  
  width: 60%;
  transition: .5s ease;
  // opacity:0;
  color: black;
  font-size: 20px;
  // padding: 5px  ;
  text-align: center;
}

.column-img p {
  font-size:medium;
  font-weight: 500;
}


.bottom-snd{
  width: 80%;
}

.bottom-trd{
bottom: 25px;
}

.effect:hover .overlay {
  opacity: 1;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #fff;
}


.image-glry span {
  border-radius: 3px;
  font-size: 11px;
  margin-left: 12px;
}
.image-glry p {
  color: #999999;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.image-glry h5{
  color: #191919;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;

}

.image-glry h5:hover{
color: #4e86de;
}

.image-glry h6{
  text-align: center;
}


.gadget {
  margin-top: 70px;
  text-align: center;
}
.gadget p {
  font-size: 18px;
  font-weight: 400  ;
}

// gadget images three column 

.row-cols-1 .card {
  border: none ;
  margin-top: 30px;
  

}

  .card-body h3 {
    text-align: start;
  
}

.card-body p{
  color: gray;
}

// follow us 

.follow h4{
  text-align: center;
  margin-top: 20px;
}



.follow h6 {
  text-align: center;
}

.five-img{
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.theory{
  margin-top: 60px;
  margin-bottom: 50px;
  // margin-left: 10em;
  // margin-right: 10em;
 
}

.theory a{
  color: #191919;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.theory a:hover{
  color:#2879fe;
}

.footer {
  height: 350px;
  background: #f7f8fa;
  
}
.footer h6{
  margin-top: 50px;
  // text-align: center;
}

.footer a {
  text-decoration: none;

}

.footer a  {
  line-height: 25px;
  color: #888888;
  // font-family:  sans-serif;
  font-weight:lighter;
  display: block;
  font-size: 15px;
  
}
.footer a:hover{
  color: #191919;
  text-decoration: underline;
  
}

.footer i {
  color: grey;
  padding: 10px;
}

.footer i:hover{
  color: #191919;
}

.last-footer{
  background-color: #191919;
  height: 60px;
  margin-top: 35px;
}

.last-footer img {
  height: 25px;
  margin-left: 10em;
 
  
  
}
.last-footer .foot-mob  {
  color: #fff;
  font-size: 12px;
  margin-left: 20px;
  padding-top: 15px;
  
}










//  large screen 
 @media (min-width:1024px) and (max-width:2500px)
 {
   nav .show{
  display: none;
 }

 
 }


  // Tablet Device
  @media (min-width:768px) and (max-width:991px){
    
   
    nav .hide{
      display: none;
    }

    nav .show{
      margin-right: 5em;
    }

    .carousel-inner img {
      height: 350px;
    }

    .carousel .carousel-caption h1{
      font-size: 40px;
      
    }

    .carousel .carousel-caption{
      margin-bottom: 5em;  
    }
   
    .gallary .card{
      margin-top: 20px;
    }

    .five-img img  {
      width: 120px;
      height: 140px;
    }

    

   

  

   .headline .fluid-full{
    width: 100%;
   }
    
    
     
  }

  // mobile Device 

  @media (min-width:320px) and (max-width:480px){
    
    .navbar .hide {
      display: none;
    }

    .carousel-inner img {
      height: 300px;
      
    }
    .carousel .carousel-caption h1{
      font-size: 15px;
      
    }
    .gallary .card{
      margin-top: 20px;
    }

    .five-img img  {
      width: 65px;
      height: 100px;
    }
}
    