


<!-- carousel images  -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
  
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../assets/Projector_1.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="cont-first">
            <h1>Smart LED <br> Projectors</h1>
            <p>App Support | 6000 Lumens</p>
            <button type="button" class="btn btn-light">VIEW RANGE </button>
  
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../assets/website_banner 2.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="cont-second">
            <h1>Upgrade your <br> TV's Audio</h1>
            <p class="text-white">Soundbar with Dolby Atmos</p>
            <button type="button" class="btn btn-primary">VIEW RANGE </button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/TWS_Neckband_3.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="cont-third">
  
            <h1>TWS Earbuds & <br> NeckBand</h1>
            <p class="text-white">Gaming Mode | ENC</p>
            <button type="button" class="btn btn-light">VIEW RANGE </button>
          </div>
        </div>
      </div>
      <div class="carousel-item " data-bs-interval="10000">
        <img src="../assets/Gaming_Keyboard_x1024.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="cont-four">
            <h1>Mechanical <br> Keyboards</h1>
            <p>RGB Lights | Blue Switches</p>
            <button type="button" class="btn btn-primary">VIEW RANGE </button>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <!-- images  -->
  
  <div class="container">
  
    <div class="head">
      <h4>TRENDING CATEGORIES</h4>
    </div>
  
    <div class="row gallary " >
    
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="card text-warning">
          <img src="../assets/Sale watch.webp" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Smart Watches</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="card text-warning">
          <img src="../assets/Gaming_2.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Gaming</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="card text-warning">
          <img src="../assets/Image-earbuds 3.webp" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Earbuds</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="card text-warning">
          <img src="../assets/img soundbars.jfif" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Soundbars</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="card text-warning">
          <img src="../assets/Lorex_ camera smart.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Smart Camera</h5>
          </div>
        </div>
      </div>
  
      
    </div>
  
  
    <!-- second Row  -->
     <div class="row gallary-1"> 
        
  
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="card text-warning">
          <img src="../assets/power bank.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Power Banks</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="card text-warning">
          <img src="../assets/wireless neckband.jfif" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Wireless Neckband</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="card text-warning">
          <img src="../assets/img headphone.jfif" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Headphones</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="card text-warning">
          <img src="../assets/speaker new.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">PC Speakers</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <div class="card text-warning">
          <img src="../assets/Gaming_Keyboard_x1024.webp" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Keyboards</h5>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
  
  
  <!-- third row  -->
  <div class="container-fluid">
    <div class="headline">
      <h4>TRENDING PRODUCTS</h4>
  
      <div class="row ">
        <div class="col-lg-3">
          <div class="row ">
            <div class="col-lg-12 col-md-6 col-12 col-sm-12">
              <div class="effect">
                <img src="../assets/Zeb-Jumbo row -3 -1.avif" alt="">
                <div class="column-img overlay">
                  <h6 class="card-title">Zeb-Yoga 6</h6>
                  <p class="paragraph-text">Wireless Earbuds</p>
                </div>
              </div>
            </div>
            
            <div class="col-lg-12 col-md-6 col-12 col-sm-12">
              <div class="effect">
                <img src="../assets/Zeb-Gaming_Headphone- row -1 -2.avif" alt="">
                <div class="column-img overlay bottom-snd">
                  <h6 class="card-title">Zeb-Blitz</h6>
                  <p class="paragraph-text">Premium Gaming Headphone</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-12 col-12 col-sm-12">
          <div class="effect">
            <img class="fluid-full" src="../assets/Zeb-_Octave -2.webp"  alt="" >
            <div class="column-img overlay bottom-trd">
              <h6 class="card-title">Zeb-Octave</h6>
  
              <p class="paragraph-text">Tower Speaker</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12 col-sm-12">
              <div class="effect">
                <img src="../assets/ZEB-PixaPlay_12-_.avif" alt="">
                <div class="column-img overlay">
                  <h6 class="card-title">ZEB-PixaPlay 12</h6>
  
                  <p class="paragraph-text">LED Projector</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 col-sm-12">
              <div class="effect">
                <img src="../assets/Zeb-Smartwatch-.avif" alt="">
                <div class="column-img overlay">
                  <h6 class="card-title">Zeb-Fit6220CH</h6>
  
                  <p class="paragraph-text">Smart Fitness Watch</p>
                </div>
              </div>
            </div>
  
  
  
          </div>
          <div class="row ">
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
              <div class="effect">
                <img src="../assets/Zeb-Jukebar- large.webp" alt="" style="width: 100%;">
                <div class="column-img overlay">
                  <h6 class="card-title">Zeb-juke Bar 700</h6>
  
                  <p class="paragraph-text">Soundbar</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid">
    <div class="head-1">
      <h4>JUST LAUNCHED</h4>
    </div>
    <div class="image-glry">
      <div class="row">
  
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
  
          
          <img src="../assets/ZEB-Keyboard row-4-1.webp" alt="" width="100%">
          <div class="card-img-overlay">
            <span class="badge bg-dark ">NEW</span>
          </div>
          <p> MINI MULTIMEDIA KEYBOARD</p>
          <h5>Zeb-K5001MW</h5>
          <h6>Rs. 3,499.00</h6>
  
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <img src="../assets/Zeb-Juke row-4-2.webp" alt="" width="100%">
          <p>SOUNDBAR</p>
          <h5>Zeb-Juke bar 9750 Pro Dolby Atmos</h5>
          <h6>Rs. 59,999.00</h6>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <img src="../assets/Zeb-Pixaplay row-4 -3.webp" alt="" width="100%">
          <div class="card-img-overlay">
            <span class="badge bg-dark ">NEW</span>
          </div>
          <p> LED PROJECTOR</p>
          <h5>Zeb-PixaPlay 14</h5>
          <h6>Rs. 44,999.00</h6>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <!-- <span class="badge bg-dark">New</span> -->
  
          <img src="../assets/Zeb-Sound row-4-4.webp" alt="" width="100%">
          <p>WIRELESS EARBUDS</p>
          <h5>Zeb-Sound Bomb 10</h5>
          <h6>Rs. 4,299.00</h6>
        </div>
  
      </div>
    </div>
  </div>
  
  
  <div class="container">
    <div class="gadget">
      <h4>GADGET GUIDE </h4>
      <p>Check out our curated collections with best deals & discounts, specially for you </p>
    </div>
  
    <div class="row  row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card ">
          <img src="../assets/homethetre img -1.jpg" class="card-img-top" alt="..." width="100%" height="400px">
          <div class="card-body">
            <h3 class="card-title">BIG Screen Entertainment </h3>
            <p class="card-text">Indulge into a theatre-like experience at home with projectors & soundbars </p>
            <a href="#" class="btn btn-primary">CHECK OUT NOW</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../assets/gadget img-2.jfif" class="card-img-top" alt="..." width="100%" height="400px">
          <div class="card-body">
            <h3 class="card-title">Esports Kit </h3>
            <p class="card-text">Everything under one roof to get your esports journey started.</p>
            <a href="#" class="btn btn-primary">VIEW PRODUCTS </a>
  
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../assets/badget img-3.jpg" class="card-img-top" alt="..." height="400px">
          <div class="card-body">
            <h3 class="card-title">Burn it down!</h3>
            <p class="card-text">Sweat it out with music!</p>
            <a href="#" class="btn btn-primary">VIEW PRODUCTS</a>
  
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../assets/gadget img -4.jpg" class="card-img-top" alt="..." height="400px">
          <div class="card-body">
            <h3 class="card-title">First Steps towards a Smart Home </h3>
            <p class="card-text">Smart speakers, IR Blasters,WiFi plugs and smart Cameras</p>
            <a href="#" class="btn btn-primary">SHOP NOW!</a>
  
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <img src="../assets/gadget img -5.jpg" class="card-img-top" alt="..." height="400px">
          <div class="card-body">
            <h3 class="card-title">Home & office - Work Setup Essentials</h3>
            <p class="card-text">Setup a WORK DESK at home/ office with ease!</p>
            <a href="#" class="btn btn-primary">VIEW PRODUCTS </a>
  
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <img src="../assets/img gadget -6.jfif" class="card-img-top" alt="..." height="400px">
          <div class="card-body">
            <h3 class="card-title">The Ultimate Gift Guide </h3>
            <p class="card-text">Be it any occasion, Zebronics has you covered.</p>
            <a href="#" class="btn btn-primary">SHOP NOW!</a>
  
          </div>
        </div>
      </div>
    </div>
  
  
  </div>
  
  <div class="container-fluid">
    <div class="row follow">
      <h4>  <a href="#">@ FOLLOW </a> US ON </h4>
  
      <h6>INSTAGRAM </h6>
    </div>
  
  
   
  
    <div class="row five-img">
      <div class="col-lg-2 col-md-2 col-sm-2 col-2">
        <img src="../assets/last -1.jpg" alt="" width="100%">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-2">
        <img src="../assets/last-2.jpg" alt="" width="100%">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-2">
        <img src="../assets/last-3.jfif" alt="" width="100%">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-2">
        <img src="../assets/last -4.jpg" alt="" width="100%">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-2">
        <img src="../assets/last - 5.jfif" alt="" width="100%">
      </div>
  
  
    </div>
  
    <div class="row zebronics ">
      <div class="col-lg-12">
        <img src="../assets/last full image zebronics.webp" alt="" width="100%">
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row theory ">
      <div class="col-lg-12 col-md-12 col-sm-12">
        
          <h5>Zebronics: Premium for masses.</h5>
          <p>
         Revolutionizing technology for the masses, incorporating Excellence, Quality and Reliability in products range, be
        it
        <a href="#"> Soundbars </a> |
  
        <a href="#"> home Theatres</a> |
        <a href="#"> Headphones</a> |
        <a href="#">Earphones</a> |
        <a href="#">TWS</a> |
        <a href="#">Gaming Cabinets</a> |
        <a href="#">Monitor </a> |
        <a href="#">Keyboards</a> |
        <a href="#">Mouse </a> |
        <a href="#"> IT & Work from Home Peripherals </a> |
        <a href="#">Power Banks</a> |
        <a href="#">Computer / Mobile & Laptop Accessories </a> |
        <a href="#"> Fitness Bands</a> |
        <a href="#">Smart Watch</a> |
        <a href="#"> CCTV</a> |
        <a href="#">Smart Home Automation</a> |
        <a href="#">Oximeters</a> |
        <a href="#"> Power UPS</a> <span> with best price, brand warranty and after-sales support. Since 1997.</span>
  
  
        </p>
        
  
      </div>
    </div>
  
  </div>
  